.list_h11{
    font-size: 48px;
    gap: 32px;
    text-align: center;
}
.list_element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1300px;
    height: 720px;
    transform: translate(110px);
}
.list_divv{
    width: 1300px;
    height: 370px;
    background-color: rgba(250, 246, 246, 0.632);
    transform: translate(110px, -370px);
}
